* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
body,
html {
  height: 100%;
}
.contener {
  background: url("./rm266-nunny-05.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.upper {
  padding: 4rem;
}
h2 {
  margin: auto;
  color: #491a0aaf;
  text-shadow: 2px 2px 2px beige;
  font-size: 3em;
}
label {
  color: azure;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px 2px #491a0a69;
  letter-spacing: 1px;
}
.center {
  padding: 3rem;
  background-color: #491a0a69;
}
input {
  padding: 0.5rem;
  border-radius: 0 13px;
  font-size: 20px;
  border: 2px solid #732a03d0;
  margin: auto 3rem;
}
button {
  border-radius: 50px;
  border: 1px solid #e0dbcf;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: emoji;
  font-weight: bold;
  box-shadow: 2px 2px 2px;
  color: #e0dbcf;
  background-color: #732a03;
  padding: 0.7rem 1.8rem;
}
button:active {
  background-color: #3f1206;
  transform: scale(0.9);
}
#dataConver {
  color: #5f2303;
  margin-top: 2rem;
  text-shadow: 2px 2px 2px #d2bda8;
  font-size: 3em;
  font-family: cursive;
}
